
body{

    background: linear-gradient(to right, #15ba6d,#8ee7ff);
    
  }
  .dog-container{
    position: absolute;
    height: 0px;
    width: 0px;
    border: 2px solid 'rgba(52, 52, 52, 0.8)';
    right: 50%;
    top: 77%;
    transform: translateX(50%);
    text-align: center;
  }
  .jumbotron {
    margin: 1rem auto;
    background:'rgba(52, 52, 52, 0.8)';
    border-radius: 1px;
    text-align: left;
    width: 400px;
    padding-left: 20px;
    height: 200x;
    text-decoration: none;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .our-dogs {
      color:rgb(43, 122, 226);
      text-align: center;
      margin: 20% auto;
      top: 50%;
  }
  
  .dog-title{
    color:gold;
    font-size: 30px;
    text-decoration: none;
  }
  .about-button{
    color:gold;
    font-size: 20px;
    border: 'rgba(52, 52, 52, 0.8)';
    background-color: 'rgba(52, 52, 52, 0.8)';
    text-decoration: none;
    

  }
  
  
  .dog-image {
    position: absolute;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .card-dogs {
    margin: 15rem auto;
  background:'rgba(52, 52, 52, 0.8)';
  border-radius: 3px;
  text-align: left;
  text-decoration: none;
  width: 700px;
  height: 500px;
  
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.card-body{
    width: 500px;
    height: fit-content;
}