@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800;900&display=swap'); *

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .register-container {
    background-color: #150C21;
    display: flex;
    flex-flow: row wrap;
  }
  
  .cardcontainer {
    position: relative;
    width: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .cardcontainer .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  
  .cardcontainer .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: start;
  }
  .cardcontainer .card .content p {
    color: #fff;
  
    margin-left: 20px 20px 20px 5px;
  }
  
  .cardcontainer .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  
  .cardcontainer .card:hover {
    color: #fff;
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
  }
  
  .cardcontainer .card .cardimg {
    width: 100%;
    height: 100%;
    opacity: 90%;
  }