@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border:none;
}
ol,
ul{
    list-style-type: none;
}
body{
    font-family: "Nunito", cursive;
    font-size: 14px;
    color:rgb(46, 108, 190);
    line-height: 1.8;
}
@media (min-width:451px){
    body{
        font-size: 18px;
    }
}
@media (min-width:769px){
    body{
        font-size: 20px;
    }
}
@media (min-width:1025px){
    body{
        font-size: 26px;
    }
}